<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kalei.pholocation">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!--  static map AIzaSyBryuOc-tskt2bkYh_vxfYq_HVRW5ddjoI-->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCqDex5yEfT0KPMqdiNwVNKpJ6R-H0RuFM"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity android:name=".MainActivity"
                  android:screenOrientation="fullSensor">
        </activity>
        <activity android:name=".SplashActivity"
                  android:noHistory="true"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AdActivity"
                  android:screenOrientation="portrait">
        </activity>
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="c972bfa76ea337247175a6cc36112e65a8385cd4"/>
    </application>

</manifest>
